# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#customizing-keybindings
# * http://flight-manual.atom.io/behind-atom/sections/keymaps-in-depth/
#
# If you're having trouble with your keybindings not working, try the
# Keybinding Resolver: `Cmd+.` on macOS and `Ctrl+.` on other platforms. See the
# Debugging Guide for more information:
# * http://flight-manual.atom.io/hacking-atom/sections/debugging/#check-the-keybindings
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#configuring-with-cson
'atom-text-editor.vim-mode-plus.normal-mode':
    '\\ c c': 'editor:toggle-line-comments'
    'ctrl-6': 'vim:previous-file'
    ', ,': 'fuzzy-finder:toggle-file-finder'
    ', k': 'fuzzy-finder:toggle-buffer-finder'

'atom-text-editor.vim-mode-plus.visual-mode':
    '\\ c c': 'editor:toggle-line-comments'


'atom-text-editor.ex-mode-editor':
    'ctrl-m': 'core:confirm'
'body':
    'ctrl-q': 'unset!'
    'ctrl-w': 'unset!'
    'ctrl-p': 'core:move-up'
    'ctrl-n': 'core:move-down'
    'ctrl-m': 'core:confirm'
    'ctrl-6': 'vim:previous-file'

'.settings-view, .welcome':
    ', ,': 'fuzzy-finder:toggle-file-finder'
    ', k': 'fuzzy-finder:toggle-buffer-finder'

'.command-palette atom-text-editor,
.fuzzy-finder atom-text-editor':
    'ctrl-p': 'core:move-up'
    'ctrl-n': 'core:move-down'
    'ctrl-m': 'core:confirm'

'atom-text-editor.vim-mode-plus.insert-mode:not(.autocomplete-active)':
    'ctrl-m': 'editor:newline'
    'ctrl-n': 'autocomplete-plus:activate'

'atom-text-editor.autocomplete-active':
    'ctrl-m': 'autocomplete-plus:confirm'
